#layout {
    width: 100%;
    padding: 20px;
}
body {
    font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
    width: 50%;
    height: 80%;
    margin: 0 auto;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 20px;
}
.roll {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
}
.save {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
}
.rules-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(223, 117, 20);
}
#dice {
    width: 400px;
    height: 100px;
}
#title {
    letter-spacing: normal; 
    font-size: 3em;
    margin-bottom: 15px;
}
#rules {
    display: none;
    letter-spacing: normal;
    padding-top: 5px;
}
.rules-div {
    padding-top: 20px;
}
#side {
    float:left;
}

/* CSS Dice: An Experiment by Jonathan Sampson - @jonathansampson, modified by Jeff Brock */
.die.one:after { 
    box-shadow: 0 .2em 0 #FFF 
}
.die.two:after { 
    background: transparent;
    box-shadow: -2.3em -2.3em 0 #345, 
    2.3em  2.3em 0 #345, 
    -2.3em -2.3em 0 #FFF, 
    2.3em  2.4em 0 #FFF 
}
.die.three:after { 
    box-shadow: -2.3em -2.3em 0 #345, 
    2.3em  2.3em 0 #345, 
    -2.3em -2.3em 0 #FFF, 
    2.3em  2.4em 0 #FFF, 
    0   .2em 0 #FFF 
}
.die.four:after { 
    background: transparent;
    box-shadow: -2.3em -2.3em 0 #345, 
    2.3em  2.3em 0 #345, 
    -2.3em  2.3em 0 #345, 
    2.3em -2.3em 0 #345, 
    -2.3em -2.3em 0 #FFF, 
    2.3em  2.4em 0 #FFF, 
    -2.3em  2.4em 0 #FFF, 
    2.3em -2.3em 0 #FFF 
}
.die.five:after { 
    box-shadow: -2.3em -2.3em 0 #345, 
    2.3em  2.3em 0 #345, 
    -2.3em  2.3em 0 #345, 
    2.3em -2.3em 0 #345, 
    -2.3em -2.2em 0 #FFF, 
    2.3em -2.2em 0 #FFF, 
    2.3em  2.4em 0 #FFF, 
    -2.3em  2.4em 0 #FFF,
    0   .2em 0 #FFF 
}
.die.six:after {
    background: transparent;
    box-shadow: -2.3em -2.3em 0 #345,
    -2.3em      0 0 #345,
    -2.3em  2.3em 0 #345,
    2.3em -2.3em 0 #345,
    2.3em      0 0 #345,
    2.3em  2.3em 0 #345,
    -2.3em -2.1em 0 #FFF,
    -2.3em   .2em 0 #FFF,
    -2.3em  2.4em 0 #FFF,
    2.3em  2.4em 0 #FFF,
    2.3em   .2em 0 #FFF,
    2.3em -2.1em 0 #FFF
}
.die {
    border-top: 2px solid #f1f1f1;
    width: 50px; height: 50px;
    border-radius: 10px;
    position: relative;
    margin: 10px;
    font-size: 6px;
    display: inline-block;
    box-shadow: 0px 5px 0 #CCC, 0 6px 3px #444, 0 10px 5px #999;
    background-color: #fff;
}
.die:after {
    content: "";
    width: 20%; 
    height: 20%; 
    left: 50%; 
    top: 50%;
    margin: -10%;
    background: #345;
    border-radius: 50%;
    display: block;
    position: absolute;
}
